# Backend Result Files
backend/storage/

# VSCode
.vscode/

# Python
# Virtual Environment
.venv/
# Python Cache
__pycache__/

# Node.js
# Node Modules
node_modules/
# Package Lock
package-lock.json

# MacOS System Files
._*